:import {
    -st-from: "../../style/project.st.css";
    -st-named: color_MainText,
               color_MainText_Background,
               color_Disabled,
               borderWidth,
               inputHeight,
               BK3,
               PR3;
}

.root {
    display: inline-block;

    position: relative;

    width: 30px;
    height: value(inputHeight);
}

.control {
    width: 100%;

    position: absolute;

    margin: 0;
    padding: 0;

    background-color: value(color_MainText_Background);
    color: value(BK3);
}

.control-icon {
    color: currentColor;
    width: 16px;
    height: 16px;
    flex: 1;
}

.control:hover,
.control:focus,
.control:disabled {
    color: value(color_MainText_Background);
}
.control:hover {
    background: transparent;
    color: value(PR3);
}

.up {
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
}

.down {
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
}
