:import {
	-st-from: "../../../components/number-input/number-input.st.css";
	-st-default: NumberInput;
}

:import {
  -st-from: "../variables.st.css";
  -st-theme: true;
  -st-named:
          inputWidth,
          inputHeight,

          fontStyle,
          textColor,
          textColorDisabled,
          placeholderColor,

          inputBackgroundColor,
          inputBackgroundColorHover,
          inputBackgroundColorDisabled,

          borderStyle,
          borderRadius,
          borderColorHover,
          borderColorFocus,
          borderColorDisabled,
          borderColorError;
}

NumberInput {
  min-width: value(inputWidth);
  height: value(inputHeight);
  border: value(borderStyle);
  border-radius: value(borderRadius);
  background: value(inputBackgroundColor);
  font: value(fontStyle);
  color: value(textColor);
}

NumberInput::nativeInput {
  padding: 6px 12px;
}


NumberInput::nativeInput::placeholder {
  font: value(fontStyle);
  color: value(placeholderColor);
}

NumberInput:hover {
  background: value(inputBackgroundColorHover);
  border-color: value(borderColorHover);
}

NumberInput:focus {
  border-color: value(borderColorFocus);
}

NumberInput::nativeInput:disabled::placeholder {
  color: value(textColorDisabled);
}

NumberInput:disabled  {
  background-color: value(inputBackgroundColorDisabled);
  border-color: value(borderColorDisabled);
  color: value(textColorDisabled);
}

/*NumberInput:disabled::stepper::down::control-icon, NumberInput:disabled::stepper::up::control-icon {
  color: value(textColorDisabled);
}*/

NumberInput:error {
  border-color: value(borderColorError);
}
