:import {
	-st-from: "../../../components/slider/slider.st.css";
	-st-default: Slider;
}

:import {
    -st-from: "../variables.st.css";
    -st-named:  sliderBackgroundColor,
                sliderRangeBackgroundColor,
                sliderHandleColor,
                buttonColorDisabled,
                sliderColorDisabledLighter;
}

Slider:x,
Slider:xReverse {
    width:288px;
    height: 30px;
}

Slider:y,
Slider:yReverse {
    width: 30px;
    min-height: 288px;
}

Slider::bar {
    background: value(sliderBackgroundColor);
    border-radius: 3px;
}

Slider::rangeBar {
    background-color: value(sliderRangeBackgroundColor);
    border-radius: 3px;
}

Slider:x::bar,
Slider:xReverse::bar {
    height: 6px;
    width: 100%;
}

Slider:y::bar,
Slider:yReverse::bar {
    height: 100%;
    width: 6px;
}

Slider::handle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: value(sliderHandleColor);
    border:4px solid white;
    box-shadow: 0 0 3px 0 rgba(22,45,61,0.12), 0 1px 2px 0 rgba(22,45,61,0.24);
}

Slider::handle:focus {
    box-shadow: 0 0 0 4px rgba(92, 190, 255, 0.35);
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
}

Slider:x::handle,
Slider:xReverse::handle {
    top:0;
    bottom: 0;
    margin: auto;
}

Slider:x::handle {
    transform: translateX(-50%);
}

Slider:xReverse::handle {
    transform: translateX(50%);
}

Slider:y::handle,
Slider:yReverse::handle {
    left: 50%;
}

Slider:y::handle {
    transform: translateY(50%) translateX(-50%);
}

Slider:yReverse::handle {
    transform: translateY(-50%) translateX(-50%);
}

Slider::mark,
Slider::rangeMark {
    background-color: value(buttonColorDisabled);
}

/* The ::after creates a larger hit area for the tick marks */
Slider::mark::after,
Slider::rangeMark::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 10px;
    height: 10px;
}

Slider:x::mark,
Slider:xReverse::mark,
Slider:x::rangeMark,
Slider:xReverse::rangeMark {
    width: 1px;
    height: 6px;
    margin-top: 18px;
}

Slider:y::mark,
Slider:yReverse::mark,
Slider:y::rangeMark,
Slider:yReverse::rangeMark {
    width: 6px;
    height: 1px;
    margin-left: 18px;
}

Slider::handle:hover,
Slider:hover::handle,
Slider:active::handle {
    box-shadow: 0 1px 2px 2px rgba(138,209,250,0.58);
}

Slider:disabled::rangeBar {
    background: value(buttonColorDisabled);
}

Slider:disabled::bar {
    background: value(sliderColorDisabledLighter);
}

Slider:disabled::handle {
    background-color: value(buttonColorDisabled);
}