:import {
    -st-from: "../../../components/tooltip/tooltip.st.css";
    -st-default: Tooltip;
    -st-named: innerPortal, tooltip, tail;
}

:import {
    -st-from: "../variables.st.css";
    -st-named:
        D10,
        D80;
}

Tooltip::tooltip {
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 6px 6px 0 rgba(22, 45, 61, 0.06), 0 0 18px 0 rgba(22, 45, 61, 0.12);
    color: value(D80);
    min-width: 96px;
    max-width: 204px;
}

.tooltipLeft .tooltip {
    text-align: left;
}

.tooltipWhite {
    -st-extends: innerPortal;
}

.tooltipSmall {
    -st-extends: innerPortal;
}

.tooltipWhite .tooltip {
    background: value(D80);
    color: value(D10);
}

.tooltipWhite .tail {
    fill: value(D80);
}

.tooltipSmall .tooltip {
    font-size: 14px;
    line-height: 1.29;
    font-family: "HelveticaNeueW01-55Roman", sans-serif;
}
