:import {
    -st-from: "../../../components/tree-view/tree-view.st.css";
    -st-default: TreeView;
}

:import{
    -st-from: "../../../components/tree-view/tree-item.st.css";
    -st-default: TreeItem;
}
:import {
    -st-from: "../variables.st.css";
    -st-named:
        textColor,
        checkedColor,
        borderColorDisabled,
        treeFontStyle,
        iconChevronDownDefault;
}

TreeView {
    background: white;
    font: value(treeFontStyle);
    color: value(textColor);
}

TreeItem::head {
    padding: 12px 0 12px 27px;
}
TreeItem::open, TreeItem::close {
    width: 10px;
    height: 10px;
    margin-right: 15px;
    background-image: value(iconChevronDownDefault);
    transform: rotate(-90deg);
    transition: transform 200ms ease-out;
}

TreeItem::close {
    transform: rotate(0);
}

TreeItem.item:expanded::nestedTree {
    margin-left: 32px;
    border-left: 1px dashed value(borderColorDisabled);
}

TreeItem.item {
    color: value(textColor);
}
TreeItem.item:selected,
TreeItem.item:hover
{
    color: value(checkedColor);
}
TreeItem.item:focused
{
    box-shadow: inset 0 0 0 1px value(checkedColor);
}
