:import {
    -st-from: "../../../components/tree-view/tree-view.st.css";
    -st-default: TreeView;
}

:import{
    -st-from: "../../../components/tree-view/tree-item.st.css";
    -st-default: TreeItem;
}
:import {
    -st-from: "../variables.st.css";
    -st-named:
        textColor,
        checkedColor,
        borderColorDisabled,
        treeFontStyle,
        iconChevronDownDefault;
}

:vars {
    verticalSpace: 12px;
    horizontalSpace: 27px;
    iconSize: 10px;
}

TreeView {
    background: white;
    font: value(treeFontStyle);
    color: value(textColor);
}
TreeView>TreeItem.item:expanded {
    padding-bottom: value(verticalSpace);
}

TreeItem::head {
    padding: value(verticalSpace) 0 value(verticalSpace) value(horizontalSpace);
}
TreeItem::open, TreeItem::close {
    width: value(iconSize);
    height: value(iconSize);
    margin-right: 15px;
    background-image: value(iconChevronDownDefault);
    transform: rotate(-90deg);
    transition: transform 200ms ease-out;
}

TreeItem::close {
    transform: rotate(0);
}

TreeItem.item:expanded::nestedTree {
    margin-left: calc(value(horizontalSpace) + value(iconSize) / 2);
    border-left: 1px dashed value(borderColorDisabled);
}

TreeItem.item {
    color: value(textColor);
}

TreeItem.item:selected,
TreeItem.item:hover {
    color: value(checkedColor);
}

TreeItem.item:focused {
    box-shadow: inset 0 0 0 1px value(checkedColor);
}
