:import {
    -st-from: "../../style/project.st.css";
    -st-named: PR2;
}
:vars {
    size: 100px;
    trackWidth: 5px;
}
@keyframes circle {
    :global(0%) {transform: rotate(0)}
    :global(100%) {transform: rotate(360deg)}
}
@keyframes track {
    :global(0%) {transform: rotate(45deg)}
    :global(25%) {transform: rotate(45deg)}
    :global(50%) {transform: rotate(225deg)}
    :global(75%) {transform: rotate(225deg)}
    :global(100%) {transform: rotate(405deg)}
}

.root {
    display: inline-block;
}

.circle {
    width: value(size);
    height: value(size);
    position: relative;
    animation: circle 2s infinite;
}

.left, .right {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.track {
    width: value(size);
    height: value(size);
    box-sizing: border-box;
    border: 5px solid value(PR2);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 100%;
    transform: rotate(45deg);
    animation: track 4s infinite linear;
}
.right {
    transform: rotate(180deg) translate(-100%);
}
.right .track {
    animation-delay: 1.2s;
}
