:import {
	-st-from: "../../src/components/number-input/number-input.st.css";
	-st-default: NumberInput;
	
}
/* Fonts */

/* Theme Colors */

:vars {
	/* Primary Colors */
	B00: #2b81cb;
	B05: #308ddd;
	B10: #3899ec;
	B20: #4eb7f5;
	B25: #A1D7FB;
	B27: #b3e0fb;
	B30: #c1e4fe;
	B40: #daeffe;
	B50: #eaf7ff;
	B60: #f4fafe;

    D10: #162d3d;
    D20: #32536A;
    D30: #577083;
    D40: #7a92a5;
    D50: #b6c1cd;
    D55: #cbd3dc;
    D60: #dfe5eb;
    D70: #f0f4f7;
	D80: #ffffff;
	
	/* Disabled */
	primary-color: value(B30);


}


/* Number Input */


}
NumberInput {
	-st-extends: NumberInput;
	border: 1px solid value(primary-color);
	border-radius: 6px;
	background: transparent;
}


NumberInput:hover {
	background: value(B60);
	border: 1px solid value(B30);
}
NumberInput::stepper{
	width: 30px;
}


NumberInput::stepper::down, NumberInput::stepper::up {
	background-color: transparent;
}
NumberInput input {
	background-color: transparent;
}

NumberInput input::placeholder {
	font-family: "HelveticaNeue-Light", sans-serif; 
}

NumberInput::stepper::down::control-icon, NumberInput::stepper::up::control-icon {
	border: none;
	color: value(B10);
}

NumberInput::stepper::up::control-icon {
	position:relative;
	top: 2px;
}

NumberInput::stepper::down::control-icon {
	position:relative;
	bottom: 2px;
}


NumberInput::stepper::down::control-icon:hover, NumberInput::stepper::up::control-icon:hover {
	color: value(B20);
}
NumberInput:disabled {
	background-color: red;
	outline-color: red;
}
NumberInput:error {
	background-color: red;
	outline-color: red;
}