:import {
    -st-from: './tag.st.css';
    -st-default: Tag;
}

:import {
    -st-from: "../selection-list/selection-list.st.css";
    -st-default: SelectionList;
}

.root {
    -st-states: focused, disabled, readOnly;
    border: 1px solid #adbac5;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    width: 282px;
    padding: 5px 0 0 5px;
}

.root:focused {
    border-color: #4a90e2;
}

.root:disabled {
    border-color: #c8c8c8;
    background-color: #f1f1f1;
}

.tag {
    -st-extends: Tag;
    margin: 0 5px 5px 0;
    max-width: calc(100% - 5px);
}

.root:disabled .tag {
    background: #c8c8c8;
}

.root:disabled *,
.root:readOnly * {
    pointer-events: none;
}

.root:disabled .tag::label {
    color: #f1f1f1;
}

.input {
    background-color: inherit;
    border: 0;
    box-sizing: border-box;
    flex-grow: 1;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: 0 5px 5px 0;
    outline: none;
    width: 0;
}

/* FIXME: awaiting a fix in stylable. There should be a way to apply styles to an element outside of the root. */
:global(.fixme-multiselect-portal) .drop-down-list {
    width: 100%;
    box-sizing: border-box;
    border-top: none;
    background-color: #fff;
    max-height: 145px;
    overflow: auto;
}
