@namespace "buttonButton";

.root {
    -st-states: disabled, focused, checked;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.root:disabled {
    cursor: default;
}

.contentContainer {
    display: flex;
    align-items: center;
}

.hiddenInput {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    opacity: 0;
}

.button {
    cursor: inherit;
    display: inline-block;
    position: relative;
}

.button::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*
.root:checked:not(:disabled) .button {
    border-color: value(checkedStroke);
}

.root:checked:not(:disabled) .button::after {
    background-color: value(checkedFill);
}

.root:disabled .button::after {
    background-color: value(disabledCheckedFill);
}

.root:hover:not(:disabled) .button{
    border-color: value(checkedStroke)
}

.root:disabled .button {
    border-color: value(disabledStroke);
}

.root:disabled:not(:checked) .button::after {
    background-color: value(disabledFill);
}

.root:focused .button {
    box-shadow: 0 0 0 2px value(focusOutline);
} */
