@namespace "RadioGroup";

:import{
    -st-from: "./radio-button.st.css";
    -st-default: Radio;
}

.root {
    display: inline-block;
}

.radioGroupChild {
    -st-extends: Radio;
}

.label {
    color: black;
    margin-left: 0.5rem;
}
