@namespace "RadioGroup";

:import{
    -st-from: "./radio-button.st.css";
    -st-default: RB;
}

.root {
    display: inline-block;
}

.radioGroupChild {
    -st-extends: RB;
}

.label {
    color: black;
    margin-left: 0.5rem;
    cursor: pointer;
}

.RB:disabled .label {
    cursor: default;
}
