@namespace "Tabs";

:import {
    -st-from: "../selection-list/selection-list.st.css";
    -st-default: SelectionList;
}

.root {
    -st-states: rtl, horizontal-top, horizontal-bottom, vertical-before, vertical-after;
}

.tabList {
    -st-extends: SelectionList;
}

.tabPanel {}

.tabContent {
    -st-states: inactive;
}

.tabContent:inactive {
    display: none;
}
