@namespace "Tabs";

:import {
    -st-from: "../../project.st.css";
    -st-named: borderDefault,
               borderStyle,
               color_Focus,
               color_Disabled,
               color_MainText_Background;
}
:import {
    -st-from: "../selection-list/selection-list.st.css";
    -st-default: SelectionList;
}
:import {
    -st-from: "../selection-list/option.st.css";
    -st-default: Option;
}

.tabList {
    -st-extends: SelectionList;
}

.tabList,
.tabList:focused {
    display: flex;

    overflow-x: auto;
    overflow-y: hidden;

    width: 100%;

    border: none;
    border-bottom: value(borderDefault);

    background: value(color_MainText_Background);
}

.tabList Option {
    width: auto;
    flex-shrink: 0;
    padding: 18px;
    border: none;
    background: transparent;
}

.tabList Option:selected:hover,
.tabList Option:selected {
    color: value(color_Focus);

    padding-bottom: 16px;
    margin-bottom: 0px;

    border: none;
    border-bottom: value(borderStyle) 2px value(color_Focus);

    background: transparent;
}

.tabList Option:hover,
.tabList Option:focused {
    color: value(color_Focus);
}

.tabList Option:disabled {
    color: value(color_Disabled);
    cursor: not-allowed;
}

.tabPanel {
    padding: 18px;
    background: value(color_MainText_Background)
}
