:import {
	-st-from: "../../../components/auto-complete/auto-complete.st.css";
	-st-default: AutoComplete;
}

:import {
    -st-from: "../../../project.st.css";
    -st-named:  inputLeftSpacing,
                inputFont;
}

AutoComplete {
    font-size: 16px;
}

AutoComplete::autoCompleteInput {
    font: value(inputFont);
    height: 36px;
    padding-left: value(inputLeftSpacing);
    border: 1px solid #adbac5;
}

AutoComplete::autoCompleteList {
    border-top: 0;
    background: #fff;
}

AutoComplete::autoCompleteInput:hover {
    border-color: #5cb4ff
}

