:import {
	-st-from: "../../../components/auto-complete/auto-complete.st.css";
	-st-default: AutoComplete;
}

:import {
    -st-from: "../variables.st.css";
    -st-named:  inputHSpacing,
                inputFont,
                caretRightSpacing;
}

AutoComplete {
    font-size: 16px;
}

AutoComplete::input {
    font: value(inputFont);
    height: 36px;
    padding-left: value(inputHSpacing);
    border: 1px solid #adbac5;
}

AutoComplete::input:hover {
    border-color: #5cb4ff
}

AutoComplete::caret {
    right: value(caretRightSpacing);
}

AutoComplete::list {
    border-top: 0;
    background: #fff;
}


