:import {
	-st-from: "../../../components/auto-complete/auto-complete.st.css";
	-st-default: AutoComplete;
}

:import {
    -st-from: "../variables.st.css";
    -st-named:  color_MainText_Background,
                color_MainText,
                borderDefault,
                borderRadius,
                borderHoverColor,
                inputWidth,
                inputHeight,
                inputSpacing,
                defaultFont,
                caretRightSpacing;
}

AutoComplete {
    font:value(defaultFont);
    border: value(borderDefault);
    border-radius: value(borderRadius);
    background-color: value(color_MainText_Background);
    color: value(color_MainText);

    height: value(inputHeight);
    min-width: value(inputWidth);

}

AutoComplete::input {
    padding: value(inputSpacing);
}

AutoComplete:hover {
    border-color: value(borderHoverColor);
}

AutoComplete::caret {
    width: 30px;
}

AutoComplete::list {
    border-top: 0;
    background-color: value(color_MainText_Background);
}


