:import {
	-st-from: "../../../components/drop-down/drop-down.st.css";
	-st-default: DropDown;
}

:import {
    -st-from: "../variables.st.css";
    -st-named:  color_MainText_Background,
                color_Hover,
                borderDefault,
                inputHeight,
                inputHSpacing,
                defaultFont,
                caretRightSpacing;
}

DropDown {
    font: value(defaultFont);
}

DropDown::input {
    border: value(borderDefault);
    height: value(inputHeight);
}

DropDown::label {
    margin-left: value(inputHSpacing);
}

DropDown::caret {
    right: value(caretRightSpacing);
}

DropDown::input:hover {
    color_Hover);
}

DropDown::list {
    background-color: value(color_MainText_Background);
}
