:import {
	-st-from: "../../../components/slider/slider.st.css";
	-st-default: Slider;
}

:import {
    -st-from: "../variables.st.css";
    -st-named:
        PR2,
        PR4,
        BK2,
        BK3,
        DS1,
        DS2,
        ER1,
        PR2,
        WT1;
}

:vars {
    colorTrack: value(BK3);
    colorTrack_Hover: value(BK2);
    colorProgress: value(PR2);
    colorHandle: value(WT1);
    colorHandle_Hover: value(PR4);
    colorHandle_Active: value(PR2);
    colorHandle_Focus: rgba(92, 180, 255, 0.5);
    colorHandleBorder: value(BK2);
    colorHandle_Disabled: value(DS2);
    color_Error: value(ER1);
    color_Disabled: value(DS1);

    minVerticalSliderHeight: 44px;
    barBorderRadius: 0px;
    barThickness:4px;
}

Slider {
    
}

Slider:x, Slider:xReverse {
    width:288px;
    height: 30px;
}

Slider:y, Slider:yReverse {
    width: 30px;
    min-height: value(minVerticalSliderHeight);
}

Slider::bar {
    border-radius: value(barBorderRadius);
    background-color: value(colorTrack);
}

Slider:x::bar, Slider:xReverse::bar {
    height: value(barThickness);
    width: 100%;
}

Slider:y::bar, Slider:yReverse::bar {
    height: 100%;
    width: value(barThickness);
}

Slider::rangeBar {
    background-color: value(colorProgress);
    border-radius: value(barBorderRadius);
}

Slider::handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: value(colorHandle);
    border: solid 1px value(colorHandleBorder);
}

/* Centering handle and tick marks */
Slider:x::handle, 
Slider:xReverse::handle, 
Slider:x::mark, 
Slider:xReverse::mark, 
Slider:x::rangeMark,
Slider:xReverse::rangeMark {
    top:0;
    bottom: 0;
    margin: auto;
}

Slider:x::handle,
Slider:x::mark,
Slider:x::rangeMark {
    transform: translateX(-50%);
}

Slider:xReverse::handle,
Slider:xReverse::mark,
Slider:xReverse::rangeMark {
    transform: translateX(50%);
}

Slider:y::handle, 
Slider:yReverse::handle,
Slider:y::mark, 
Slider:yReverse::mark, 
Slider:y::rangeMark,
Slider:yReverse::rangeMark {

    left: 50%;
}

Slider:y::handle,
Slider:y::mark,
Slider:y::rangeMark {
    transform: translateY(50%) translateX(-50%);
}

Slider:yReverse::handle,
Slider:yReverse::mark,
Slider:yReverse::rangeMark {
    transform: translateY(-50%) translateX(-50%);
}

Slider::handle:hover, Slider:hover::handle:hover,
Slider::handle:active, Slider:active::handle:active {
    background-color: value(colorHandle_Active);
    border-color: value(colorHandle_Active);
} 

Slider::mark, Slider::rangeMark {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

Slider::mark {
    background-color: value(colorTrack);
}

Slider::rangeMark {
    background-color: value(colorProgress);
}

Slider:hover::bar {
    background-color: value(colorTrack_Hover);
}

Slider:hover::mark {
    background-color: value(colorTrack_Hover);
}

Slider:hover::handle {
    background-color: value(colorHandle_Hover);
    border-color: value(colorHandle_Active);
}

Slider::handle:focus {
    box-shadow: 0 0 0 value(focusSize) value(colorHandle_Focus);
    outline: none;
}

Slider:active::bar {
    background-color: value(colorTrack);
}

Slider:active:hover::bar {
    background-color: value(colorTrack);
}

Slider:active::mark {
    background-color: value(colorTrack);
}

Slider:active::rangeBar {
    background-color: value(colorProgress);
}


Slider:disabled::handle {
    border-color: value(color_Disabled);
    background-color: value(colorHandle_Disabled);
}

Slider:disabled::bar {
    background-color: value(color_Disabled);
}

Slider:disabled::mark {
    background-color: value(color_Disabled);
}

Slider:disabled::rangeBar {
    background-color: transparent;
}

Slider:error::rangeMark,
Slider:error::rangeBar
{
    background-color: value(color_Error);
}

Slider:active:error::handle,
Slider:active:error:hover::handle {
    background-color: value(color_Error);
    border-color: value(color_Error);
}
