:import {
    -sb-from: "../../style/default-theme/variables.st.css";
    -sb-named: color_MainText,
               color_MainText_Background,
               borderWidth,
               inputHeight;
}

.number-input {
    position: relative;
    display: inline-block;
}

.stepper {
    position: relative;

    width: value(inputHeight);
    height: value(inputHeight);
}

.stepper-control {
    width: 100%;

    display: flex;

    justify-content: center;
    align-content: center;
    align-items: center;

    position: absolute;

    margin: 0;
    padding: 0;

    background-color: value(color_MainText_Background);
    color: value(color_MainText);
}

.stepper-control-icon {
    color: value(color_MainText);
    width: 16px;
    height: 16px;
}

.stepper-control:hover .stepper-control-icon,
.stepper-control:focus .stepper-control-icon,
.stepper-control:disabled .stepper-control-icon {
    color: value(color_MainText_Background);
}

.stepper-control.stepper-increment {
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
}

.stepper-control.stepper-decrement {
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
}

.number-input > .stepper {
    position: absolute;

    right: value(borderWidth);
    top: value(borderWidth);
    bottom: value(borderWidth);

    height: initial;
}
