:import {
    -st-from: "../../style/default-theme/controls/input.st.css";
    -st-default: input;
}

:import {
    -st-from: "../../style/default-theme/variables.st.css";
    -st-named: color_MainText,
               color_MainPlaceholder,
               color_MainText_Background,
               borderRadius,
               color_Disabled,
               borderDefault,
               borderHover,
               borderFocus,
               inputHeight,
               inputWidth,
               borderDisabled,
               borderError;
}

:import {
    -st-from: "../stepper/stepper.st.css";
    -st-default: stepper;
}

.root {
    -st-states: focus, disabled, error;

    box-sizing: inherit;
    position: relative;
    display: inline-flex;

    border: value(borderDefault);
    border-radius: value(borderRadius);
    background-color: value(color_MainText_Background);
    color: value(color_MainText);

    height: value(inputHeight);
    min-width: value(inputWidth);
}

.root:hover {
    border: value(borderHover);
}

.root:focus {
    border: value(borderFocus);
}

.root:disabled {
    background-color: value(color_Disabled);
    color: value(color_MainPlaceholder);
    border: value(borderDisabled);
}

.root:error {
    border: value(borderError);
}

.prefix {}

.native-input {
    -st-extends: input;
    flex-grow: 1;

    border: none;
    height: auto;

    -moz-appearance: textfield;
}

.native-input::-webkit-outer-spin-button,
.native-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.suffix {}

.stepper {
    -st-extends: stepper;
    height: auto;
}
