:import {
    -st-from: "../stepper/stepper.st.css";
    -st-default: Stepper;
}

.root {
    -st-states: focus, disabled, error;

    box-sizing: inherit;
    position: relative;
    display: inline-flex;
}

.prefix {
    display: flex;
    align-items: center;
}

.suffix {
    display: flex;
    align-items: center;
}

.nativeInput {
    -moz-appearance: textfield;

    /* making sure the input shrinks properly */
    flex: 1;
    min-width: 1px;
    text-overflow: ellipsis;

    /* negating global input styles */
    height: auto;
    border: none;
    box-shadow: none;
    outline: none;
    color: inherit;
    font: inherit;
    background: none;
}

.nativeInput:hover {
  border: none;
}

.nativeInput::-webkit-outer-spin-button,
.nativeInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.nativeInput:disabled {
    background: inherit;
}

.stepper {
    -st-extends: Stepper;
    height: auto;
}
