:import {
    -st-from: "./variables.st.css";
    -st-named: color_Default,
               color_MainText,
               color_Focus,
               color_Hover,
               color_Disabled;
}

.a {
    text-decoration: none;
    user-select: none;
    color: value(color_Default);
    outline: 0;
}

.a:focus {
    color: value(color_Default);
}

.a:visited:not(.button):not(a[disabled]) {
    color: value(color_Focus);
}

.a:hover {
    color: value(color_Hover);
}

.a.disabled, .a[disabled] {
    color: value(color_Disabled);
}
