:import {
    -st-from: "./variables.st.css";
    -st-named: fontFamily,
               fontSize,
               fontWeight,
               lineHeight,
               color_MainText,
               color_MainPlaceholder,
               color_MainText_Background,
               borderRadius,
               color_Default,
               color_Hover,
               color_Active,
               color_Focus,
               color_Disabled,
               borderDefault,
               borderHover,
               borderFocus,
               borderDisabled;
}

/* Typography */
:global(h1) {
    color: value(color_MainText);
    font-size: 32px;
    line-height: 48px;
}

:global(h2) {
    color: value(color_MainText);
    font-size: 24px;
    line-height: 36px;
}

:global(h3) {
    color: value(color_MainText);
    font-size: 19px;
    line-height: 28px;
}

:global(h4) {
    color: value(color_MainText);
    font-size: 16px;
    line-height: 24px;
}

:global(h5) {
    color: value(color_MainText);
    font-size: 14px;
    line-height: 20px;
}

:global(h6) {
    color: value(color_MainText);
    font-size: 12px;
    line-height: 18px;
}

:global(p) {
    color: value(color_MainText);
    font-size: 16px;
    line-height: 24px;
}

:global(label) {
    color: value(color_MainPlaceholder);
    font-size: 16px;
    line-height: 24px;
}

:global(img) {
    display: inline-block;
    vertical-align: middle;
}

:global(textarea) {
    height: auto;
    min-height: 50px;
    border-radius: value(borderRadius);
}

:global(a) {
    text-decoration: none;
    user-select: none;
    color: value(color_Default);
    outline: 0;
}

:global(a:focus) {
    color: value(color_Default);
}

:global(a:visited:not(.button):not(a[disabled])) {
    color: value(color_Focus);
}

:global(a:hover) {
    color: value(color_Hover);
}

:global(a.disabled), :global(a[disabled]) {
    color: value(color_Disabled);
}

/* button */

:global(button),
:global(.button) {
    box-sizing: inherit;
    display: inline-block;
    vertical-align: middle;
    padding: 9px 30px;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid transparent;
    border-radius: value(borderRadius);
    background: value(color_Default);
    color: value(color_MainText_Background);
    font-family: value(fontFamily);
    font-size: value(fontSize);
    font-weight: value(fontWeight);
    line-height: value(lineHeight);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    outline: 0;
}

:global(button:focus), :global(.button:focus) {
    background-color: value(color_Focus);
    color: value(color_MainText_Background);
}

:global(button:hover), :global(.button:hover) {
    background-color: value(color_Hover);
    color: value(color_MainText_Background);
}

:global(button:active), :global(.button:active) {
    background-color: value(color_Active);
    color: value(color_MainText_Background);
}

:global(button[disabled]), :global(.button[disabled]),
:global(button.disabled), :global(.button.disabled) {
    background-color: value(color_Disabled);
    color: value(color_MainText_Background);
    pointer-events: none;
}

:global(input) {
    box-sizing: inherit;
    border: value(borderDefault);
    border-radius: value(borderRadius);
    background-color: value(color_MainText_Background);
    color: value(color_MainText);
    font-family: value(fontFamily);
    font-size: value(fontSize);
    font-weight: value(fontWeight);
    line-height: value(lineHeight);
    padding: 6px 12px;
    height: 36px;
    outline: 0;
}

:global(input:placeholder) {
    color: value(color_MainPlaceholder);
}

:global(input:hover) {
    border: value(borderHover);
}

:global(input:focus) {
    border: value(borderFocus);
}

:global(input.disabled), :global(input[disabled]) {
    background-color: value(color_Disabled);
    color: value(color_MainPlaceholder);
    border: value(borderDisabled);
}
