@value vars: "./variables.css";
@value fontFamily, fontSize, fontWeight, lineHeight, color_MainText, color_MainPlaceholder, textPlaceholder, color_MainTextBackground, borderRadius from vars;
@value color_Default, color_Hover, color_Active, color_Focus, color_Disabled from vars;
@value borderDefault, borderHover, borderFocus, borderDisabled from vars;

/* Typography */
:global h1 {
    color: color_MainText;
    font-size: 32px;
    line-height: 48px;
}

:global h2 {
    color: color_MainText;
    font-size: 24px;
    line-height: 36px;
}

:global h3 {
    color: color_MainText;
    font-size: 19px;
    line-height: 28px;
}

:global h4 {
    color: color_MainText;
    font-size: 16px;
    line-height: 24px;
}

:global h5 {
    color: color_MainText;
    font-size: 14px;
    line-height: 20px;
}

:global h6 {
    color: color_MainText;
    font-size: 12px;
    line-height: 18px;
}

:global p {
    color: color_MainText;
    font-size: 16px;
    line-height: 24px;
}

:global label {
    color: color_MainPlaceholder;
    font-size: 16px;
    line-height: 24px;
}

:global img {
    display: inline-block;
    vertical-align: middle;
}

:global textarea {
    height: auto;
    min-height: 50px;
    border-radius: borderRadius;
}

:global a {
    text-decoration: none;
    user-select: none;
    color: color_Default;
    outline: 0;
}

:global a:focus {
    color: color_Default;
}

:global a:visited:not(.button):not(a[disabled]) {
    color: color_Focus;
}

:global a:hover {
    color: color_Hover;
}

:global a.disabled, :global a[disabled] {
    color: color_Disabled;
}

/* button */

:global button,
:global .button {
    box-sizing: inherit;
    display: inline-block;
    vertical-align: middle;
    padding: 9px 30px;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid transparent;
    border-radius: borderRadius;
    background: color_Default;
    color: color_MainTextBackground;
    font-family: fontFamily;
    font-size: fontSize;
    font-weight: fontWeight;
    line-height: lineHeight;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    outline: 0;
}

:global button:focus, :global .button:focus {
    background-color: color_Focus;
    color: color_MainTextBackground;
}

:global button:hover, :global .button:hover {
    background-color: color_Hover;
    color: color_MainTextBackground;
}

:global button:active, :global .button:active {
    background-color: color_Active;
    color: color_MainTextBackground;
}

:global button[disabled], :global .button[disabled],
:global button.disabled, :global .button.disabled {
    background-color: color_Disabled;
    color: color_MainTextBackground;
    pointer-events: none;
}

:global input {
    box-sizing: inherit;
    border: borderDefault;
    border-radius: borderRadius;
    background-color: color_MainTextBackground;
    color: color_MainText;
    font-family: fontFamily;
    font-size: fontSize;
    font-weight: fontWeight;
    line-height: lineHeight;
    padding: 6px 12px;
    height: 36px;
    outline: 0;
}

:global input:placeholder {
    color: color_MainPlaceholder;
}

:global input:hover {
    border: borderHover;
}

:global input:focus {
    border: borderFocus;
}

:global input.disabled, :global input[disabled] {
    background-color: color_Disabled;
    color: color_MainPlaceholder;
    border: borderDisabled;
}
