/* Typography  */
:vars {
    fontFamily: Arial;
    fontSize: 100%;
    fontWeight: normal;
    lineHeight: 1.5;

    /* Colors from styleguide */
    BK1: #000000;
    BK2: #7d8c98;
    BK3: #adbbc6;
    DS1: #c8c8c8;
    DS2: #f1f1f1;
    ER1: #d0011b;
    PR1: #257ade;
    PR2: #4a90e2;
    PR3: #5cb4ff;
    PR4: #edf7ff;
    WT1: #ffffff;

    /* Other colors */
    /* TODO: we should not use any of them */
    B1: #4990e2;
    B2: #5cb4ff;
    B3: #4990e2;
    B4: #257ade;
    B5: #d1d1d1;
    B6: #f1f1f1;
    B7: #adbbc6;
    B10: #3899ec;

    M1: #000000;
    M2: #577083;
    M3: #4A90E2;
    M4: #EDF7FF;
    M5: #D0021B;
    M6: #c8c8c8;
    M7: #4a90e2;
    M0: #ffffff;
    R1: #d0011b;

    /* Basic colors */
    color_MainText: value(M1); /* Base text color  */
    color_MainPlaceholder: value(M2);
    color_MainError: value(M5);
    color_MainDisabled: value(M6);
    color_MainText_Background: value(M0);
    color_Border: value(B10);

    /* Component state colors */
    color_Default: value(B1);
    color_Hover: value(B2);
    color_Active: value(B3);
    color_Focus: value(B4);
    color_Disabled: value(B5);
    color_Keyboard_Focused: value(M4);

    /* Copmponent Sizes */
    inputHeight: 36px;
    inputWidth: 192px;

  /* Borders */
    borderRadius: 0px;
    borderWidth: 1px;
    borderStyle: solid;
    borderDefault: value(borderStyle) value(borderWidth) value(B5);
    borderHover: value(borderStyle) value(borderWidth) value(B2);
    borderFocus: value(borderStyle) value(borderWidth) value(B3);
    borderDisabled: value(borderStyle) value(borderWidth) value(B5);
    borderError: value(borderStyle) value(borderWidth) value(R1);

}
