.root {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    outline: 0 solid transparent;
}

.tree-node {
    -st-states: selected, focused;
    cursor: pointer;
    display: inline;
    padding: 2px 5px;
}

.tree-node:focused {
    color: purple;
}

.tree-node:selected {
    background-color: goldenrod;
}

.nested-tree {
    margin-left: 25px;
}
