:import{
    -st-from: "../../project.st.css";
    -st-named: color_Keyboard_Focused, color_Active;
}

.item {
    -st-states: selected, focused, expanded;
    cursor: pointer;
    list-style: none;
}

.nestedTree {
    list-style: none;
    padding: 0;
    margin: 0;
}

.itemIcon {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    margin-right: 5px;
}

.itemLabel {
    vertical-align: middle;
}
