.root {
  font-size: 1.414em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tree-node {
  -st-states: selected;
  cursor: pointer;
  display: inline;
}

.tree-node:selected {
  background-color: lightblue;
}

.nested-tree {
  margin-left: 25px;
}
