@namespace "Modal";

.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
