@namespace "Modal";


/*
    Styling colors are here (not at the theme)
    because it is rendered in <Portal/>
    which isn't able to get theme yet.
*/

.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.05);
}

.body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);

}
