@namespace "CheckBoxDemo";

:import {
    -st-from: '../../src/components/checkbox/checkbox.st.css';
    -st-default: CB;
}

.customInput CB::box {
    background: red;
    border-color: blue;
}

.customInput CB:checked .customBoxIcon {
    background: goldenrod;
}

.customInput CB:focus::box {
    outline: none;
}

.customTickIcon {
    height: 100%;
    width: 100%;
    position: absolute;
}

.customTickIcon circle {
    fill: #fff;
}

.label {
    margin-left: 5px;
    margin-right: 20px;
    vertical-align: top;
    color: black;
    cursor: pointer;
}
