@namespace "CheckBoxDemo";

:import {
    -st-from: '../../src/components/checkbox/checkbox.st.css';
    -st-default: CB;
}

:import {
    -st-from: './checkbox-mixin-demo';
    -st-named: customBoxIconMixin, customTickIconMixin;
}

.customDemo{
    -st-extends: CB;
}

.customDemo::boxIcon   {
    -st-mixin: customBoxIconMixin('none', '#D1D1D1');
}

.customDemo::tickIcon {
    -st-mixin: customTickIconMixin('#f1f1f1');
}

.customDemo:checked::boxIcon {
    -st-mixin: customBoxIconMixin('goldenrod', '#D1D1D1');
}

.customDemo:focus {
    outline: none;
}

.label {
    margin-left: 5px;
    margin-right: 20px;
    color: black;
    cursor: pointer;
}
