.boxIconDefault {
    height: 1em;
    width: 1em;
    fill: none;
    stroke: #D1D1D1;
}

.boxIconChecked {
    fill: #4A90E2;
}

.tickIcon {
    height: 1em;
    width: 1em;
    position: relative;
    margin-left: -1em;
    stroke: #FFF;
    strokeLinecap: square;
    strokeWidth: 1.5;
}
