.boxIconDefault {
    height: 1em;
    width: 1em;
    viewBox: 0 0 16 16;
}

.boxIconDefault path{
    fill: none;
    stroke: #D1D1D1;
}

.boxIconChecked path {
    fill: #4A90E2;
}

.tickIcon {
    height: 1em;
    width: 1em;
    viewBox: 0 0 16 16;
    position: relative;
    margin-left: -1em;
}

.tickIcon path{
    stroke: #FFF;
    strokeLinecap: square;
    strokeWidth: 1.5;
}
