@namespace "CheckBoxDemo";

:import {
    -st-from: '../../src/components/checkbox/checkbox.st.css';
    -st-default: CB;
}

.customBoxIcon {
    height: 20px;
    width: 20px;
    fill: none;
    stroke: #D1D1D1;
}

CB:checked .customBoxIcon {
    fill: goldenrod;
}

CB:focused .customBoxIcon {
    outline: none;
}

.customTickIcon {
    height: 20px;
    width: 20px;
    position: relative;
    margin-left: -20px;
    fill: #f1f1f1;
}

.label {
    margin-left: 5px;
    margin-right: 20px;
    vertical-align: top;
    color: black;
    cursor: pointer;
}
