:import{
    -st-from: "../../src/style/default-theme/variables.st.css";
    -st-named: color_Default, color_MainText_Background, color_MainText, color_Active, color_Hover, color_Keyboard_Focused, fontFamily;
}

:vars {
    demoHeight: 500px;
    demoWidth: 900px;
}

.container {
    height: value(demoHeight);
    width: value(demoWidth);
}

.datepickerContainer {
    height: value(demoHeight);
    width: value(demoWidth);
}

.datepicker {
    position: relative;
    top: -value(demoHeight);
    left: 35%;
}

.background {
    height: value(demoHeight);
    width: value(demoWidth);
    background-size: cover;
    display: block;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-color: blue;
}


.title {
    position: relative;
    top: -value(demoHeight);
    left: 50px;
    font-family: value(fontFamily);
    color: value(color_MainText_Background);
    opacity: 0.95;
    text-shadow: 4px 4px 2px rgba(50, 50, 50, 1);
}
