:import {
    -st-from: "../../src/components/number-input/number-input.st.css";
    -st-default: NumberInput;
}

:import {
    -st-from: "../../src/project.st.css";
    -st-named: BK3;
}

NumberInput::prefix,
NumberInput::suffix {
    padding: 6px;
    color: value(BK3);
}

NumberInput::prefix {
	padding-right: 0;
}

NumberInput {
	width: 192px;
}
