:import {
    -st-from: "../../src/components/radio-group/radio-group.st.css";
    -st-default: RG;
    -st-named: data-label;
}

.rg {
    -st-extends: RG;
}

.rg::radioGroupChild {
    display: block;
}

.label {
    margin-left: 0.5rem;
}

.data-label {
    color: #4A90E2;
}
