@namespace "SelectionListDemo";

.emoji-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 60px;
    padding: 0 10px;
    border-radius: 30px;
}

.emoji-list-item {
    font-size: 20px;
    transition: all 300ms;
    cursor: pointer;
    text-align: center;
    margin-bottom: -6px;
}

.emoji-list-item[data-selected] {
    font-size: 45px;
    cursor: default;
}

.text-style-list {
    color: black;
}

.text-style-list > div {
    padding: 10px 20px;
    color: #000000;
    border-top: 1px solid #DDDDDD;
    cursor: pointer;
}

.text-style-list > div:first-child {
    border-top: none;
}

.text-style-list > div:hover {
    background-color: #EDF7FF;
}

.text-style-list > div[data-selected] {
    background-color: #4990e2;
}

.text-style-title {
    font-family: Helvetica, sans-serifl;
    font-size: 30pt;
    font-weight: bold;
}

.text-style-heading {
    font-family: Helvetica, sans-serifl;
    font-size: 18pt;
    font-weight: bold;
}

.text-style-heading-red {
    font-family: Helvetica, sans-serifl;
    font-size: 16pt;
    font-weight: bold;
    color: #C82506;
}

.text-style-body {
    font-family: Helvetica, sans-serifl;
    font-size: 11pt;
}

.text-style-caption {
    font-family: Helvetica, sans-serifl;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
}

.text-style-label {
    font-family: Helvetica, sans-serifl;
    background: #C0C0C0;
    color: #FFFFFF;
    padding: 2px 3px;
}
