@namespace "SelectionListDemo";

:import {
    -st-from: '../../src/components/selection-list/selection-list.st.css';
    -st-default: List;
}

:import {
    -st-from: '../../src/components/selection-list/option.st.css';
    -st-default: Option;
}

.emoji-list {
    -st-extends: List;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 60px;
    padding: 0 10px;
    border-radius: 30px;
}

.emoji-list Option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    transition: all 300ms;
    cursor: pointer;
    text-align: center;
    min-height: unset;
    padding: unset;
    line-height: unset;
}

.emoji-list Option:focused {
    border: unset;
    background-color: #edf7ff;
}

.emoji-list Option:selected {
    width: 56px;
    height: 56px;
    font-size: 45px;
    cursor: default;
    background-color: unset;
}

.emoji-list Option:focused,
.emoji-list Option:hover,
.emoji-list Option:selected:hover,
.emoji-list Option:selected:focused {
    background-color: #edf7ff;
}

.text-style-list {
    -st-extends: List;
}

.text-style-list Option {
    padding: 10px 20px;
    color: #000000;
    cursor: pointer;
    line-height: 1em;
}

.text-style-list Option:not(:focused):not(:first-child) {
    border-top: 1px solid #ddd;
}

.text-style-list Option span {
    vertical-align: middle;
    line-height: 1em;
}

.text-style-list Option:disabled {
    cursor: default;
}

.text-style-list Option:disabled > * {
    filter: grayscale(100%);
    opacity: 0.2;
}

.text-style-title {
    font-family: Helvetica, sans-serif;
    font-size: 30pt;
    font-weight: bold;
}

.text-style-heading {
    font-family: Helvetica, sans-serif;
    font-size: 18pt;
    font-weight: bold;
}

.text-style-heading-red {
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: #C82506;
}

.text-style-body {
    font-family: Helvetica, sans-serif;
    font-size: 11pt;
}

.text-style-caption {
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
}

.text-style-label {
    font-family: Helvetica, sans-serif;
    background: #C0C0C0;
    color: #FFFFFF;
    padding: 2px 3px;
}
