@namespace "SliderDemo";

.root {
    width: 100%;
}

.table-head-cell {
    width: 33%;
}

.vertical-demo {
    height: 126px;
    text-align: center;
}
.tooltip {
    font-family: Verdana;
    padding: 3px 12px;
    background-color: #4a90e2;
    color: white;
}
