:import {
  -st-theme: true;
  -st-from: "../../src/themes/wix/theme.st.css";
  -st-named:  tooltipWhite, tooltipSmall, tooltipLeft;
}

.sample {
    padding: 0 50px;
}
.anchorWrap {
    margin-right: 20px;
    display: inline-block;
}
.anchor {
    font: 14px arial;
    padding: 10px;
    color: white;
    display: inline-block;
    background: #3899ec;
}

.tooltipWhite, .tooltipSmall, .tooltipLeft {}
