.boxIconDefault {
    height: 1em;
    width: 1em;
    fill: none;
    stroke: #D1D1D1;
}

.boxIconChecked {
    fill: #4A90E2;
}

.tickIcon {
    height: 1em;
    width: 1em;
    position: relative;
    margin-left: -1em;
    stroke: #FFF;
    stroke-linecap: square;
    stroke-width: 1.5;
}

.root {
    display: inline;
    position: relative
}

.label {
    margin-left: 5px;
    vertical-align: top
}

.nativeCheckbox {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 0;
    height: 0
}

.boxIcon {
    -st-states: checked;
    height: 1em;
    width: 1em;
    fill: none;
    stroke: #D1D1D1;
}

.boxIcon.checked
