@namespace "CheckBox";

:import {
    -st-from: "../../style/default-theme/assets/svg-assets";
    -st-named: boxIconMixin, tickIconMixin, indeterminateIconMixin;
}


.root {
    -st-states: checked, disabled, indeterminate, readonly, focus;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.boxIcon {
    -st-mixin: boxIconMixin('none', '#D1D1D1');
    display: inline-block;
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
}

.root:checked .boxIcon {
    -st-mixin: boxIconMixin('#4A90E2', '#D1D1D1');
}

.root:indeterminate .boxIcon{
    -st-mixin: boxIconMixin('#4A90E2', '#D1D1D1');
}

.root:disabled .boxIcon {
    -st-mixin: boxIconMixin('#f1f1f1', '#D1D1D1');
}

.root:focus .boxIcon {
    outline: 4px solid #add9ff;
}

.tickIcon {
    -st-mixin: tickIconMixin('#ffffff', 1.5, 'square');
    display: inline-block;
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    position: relative;
    margin-left: -1rem;
    stroke-linecap: square;
    stroke-width: 1.5;
}

.root:disabled .tickIcon {
    -st-mixin: tickIconMixin('#c8c8c8', 1.5, 'square');
}

.root:disabled .indeterminateIcon {
    -st-mixin: indeterminateIconMixin('#c8c8c8', 1.5);
}

.indeterminateIcon {
    -st-mixin: indeterminateIconMixin('#ffffff', 1.5);
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    position: relative;
    margin-left: -1rem;
    stroke: #FFF;
    stroke-width: 1.5;
}

.nativeCheckbox {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    opacity: 0;
}

.childContainer {
    display: inline;
    vertical-align: middle;
}
