@namespace "CheckBox";

.root {
    -st-states: checked, disabled, indeterminate, readonly;
    display: inline;
    position: relative;
    cursor: pointer;
}

.boxIconDefault {
    height: 1em;
    width: 1em;
    fill: none;
    stroke: #D1D1D1;
}

.root:checked .boxIconDefault, .root:indeterminate .boxIconDefault{
    fill: #4A90E2;
}

.root:disabled .boxIconDefault {
    fill: #f1f1f1;
}

.tickIcon {
    height: 1em;
    width: 1em;
    position: relative;
    margin-left: -1em;
    stroke: #FFF;
    stroke-linecap: square;
    stroke-width: 1.5;
}

.root:disabled .tickIcon, .root:disabled .indeterminateIcon {
    stroke: #c8c8c8;
}

.indeterminateIcon {
    height: 1em;
    width: 1em;
    position: relative;
    margin-left: -1em;
    stroke: #FFF;
    stroke-width: 1.5;
}

.label {
    margin-left: 5px;
    vertical-align: top
}

.nativeCheckbox {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 0;
    height: 0
}
