@namespace 'time-picker';

:import {
    -st-from: "../stepper/stepper.st.css";
    -st-default: Stepper;
}

:import {
    -st-from: "../../style/project.st.css";
    -st-named:
        DS1,
        DS2,
        BK2,
        BK3,
        PR2,
        PR3;
}
:vars {
    height: 2.25em;
    width: 7.5em;
}
.root {
    -st-states: focus, disabled, empty;
    font-family: arial;
    font-size: 16px;
    position: relative;
    border: 1px solid value(BK3);
    height: value(height);
    min-width: value(width);
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;

    padding-left: 9px;
}

.root:not(:disabled):hover {
    border-color: value(PR3);
}
/* reset :hover for touch devices */
@media (hover: none) {
    .root:not(:focus):hover {
        border-color: value(BK3);
    }
}

.root:focus {
    border-color: value(PR2);
}
.root:disabled {
    background-color: value(DS2);
    color: value(DS1);
}
.root:empty {
    color: value(BK2);
}

.input-wrap {
    position: relative;
    display: inline-block;
    height: 100%;
}
.input-wrap.mm:before {
    content: ':';
    position: absolute;
    top: 0;
    width: 10px;
    left: -5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    position: relative;
    font: inherit;
    border: 0;
    padding: 0 3px;
    margin: 0;
    width: 1.6em;
    height: 100%;
    background: none;
    color: inherit;
    -webkit-text-fill-color: inherit;
}

/* TODO replace with mixin */
.input::-webkit-input-placeholder {
    color: value(BK2);
    -webkit-text-fill-color: currentColor;
    opacity: 1;
}
.input:-ms-input-placeholder {
    color: value(BK2);
    -webkit-text-fill-color: currentColor;
    opacity: 1;
}
.input::-moz-placeholder {
    color: value(BK2);
    -webkit-text-fill-color: currentColor;
    opacity: 1;
}

/* TODO replace with mixin */
.input::-moz-selection {
    color: white;
    background: value(PR2);
    padding: 2px;
}
.input::selection {
    color: white;
    -webkit-text-fill-color: currentColor;
    background: value(PR2);
    padding: 2px;
}

.input:hover,
.input:focus {
    border: 0;
    outline: 0;
}
/* reset ios safari disabled opacity */
.input:disabled {
    opacity: 1;
}

.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 12px;
    display: flex;
    align-items: center;
    background: white;
}

.ampm {
    display: inline-block;
    background-color: inherit;
    cursor: pointer;
    vertical-align: baseline;
}
.ampm:hover {
    color: value(PR3);
}
.ampm:focus {
    background: value(PR2);
    outline: none;
    color: white;
}
.root:disabled::ampm:hover {
    color: inherit;
    cursor: inherit;
}
.label {
    -st-states: visible;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.label:visible {
    display: block;
}
.native-input {
    position: absolute;
    opacity: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 0;
    height: 0;
}
.native-input:focus {
    border: 0;
}

.stepper {
    -st-extends: Stepper;
    height: 100%;
    transition: opacity 100ms ease;
    float: right;
    opacity: 0;
}
.stepper::control {
    background: transparent;
}
.root:focus .stepper,
.root:hover .stepper {
    opacity: 1;
}
