@namespace "Dialog";

:import{
    -st-from: "../modal/modal.st.css";
    -st-default: Modal;
}

.root {
    -st-extends: Modal;
}

.root::children {
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    padding: 5px;
}

.header {
    border-bottom: 1px solid black;
    width: calc(100% + 10px);
    margin-left: -5px;
    padding-bottom: 5px;
}

.header .title {
    margin-left: 5px;
}

.header button {
    float: right;
    margin-right: 5px;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
}


