:import {
    -st-from: "../selection-list/selection-list.st.css";
    -st-default: SelectionList;
}

.root {
    width: auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.drop-down-input {
    border: 1px solid #adbac5;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drop-down-input .caret {
    margin-right: 5px;
    vertical-align: middle;
}

.drop-down-input .label {
    margin-left: 5px;
}

.drop-down-input:hover {
    cursor: pointer;
    border: 1px solid #5cb4ff;
}

.drop-down-list {
    -st-extends: SelectionList;
    width: 100%;
}
