@namespace "DropDown";

:import {
    -st-from: "../../project.st.css";
    -st-named:
               iconChevronDownBK3,
               iconChevronDownDS1,
               iconChevronDownPR3;
}

/*
    FOCUS doesn't work.
    TODO: Component needs to handle focus (pass it to the root element) in code
*/
.root {
    -st-states: open;
    box-sizing: inherit;
    position: relative;
    display: inline-flex;

    outline: none;
}

.root:hover {
    cursor: pointer;
}

.label {}

.input:hover {
    cursor: pointer;
}

.list {
    /*width: 100%;*/
    /*
        Styling list is here (not at the theme)
        because it is rendered in <Portal/>
        which isn't able to get theme yet.
    */
    /*background-color: white;*/
}

.input { /* This element is not actually an input */
    /* making sure the input shrinks properly */
    flex: 1;
    min-width: 1px;
    text-overflow: ellipsis;

    /* putting the label inside in the correct place */
    display:inline-flex;
    align-items: center;
}

.caret-wrap {
    margin: 0;
    padding: 0;
    border: 0;
    height: auto;
    cursor: pointer;

    outline: none;
    background: transparent;
}

.caret {
    width: 28px;
    height: 28px;
    display: inline-block;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-image: value(iconChevronDownBK3);
    transition: transform 200ms ease-out;
}

.caret:hover,
.caret:focus {
    background-image: value(iconChevronDownPR3);
}

.caret:disabled {
    background-image: value(iconChevronDownDS1);
}


.root:open .caret {
    transform: rotate(180deg);
}
