:import {
    -st-from: "../selection-list/selection-list.st.css";
    -st-default: SelectionList;
}

.root {
    width: auto;
    display: inline-block;
    min-width: 150px;
    outline: none;
}

.input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caret {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: value(caretRightSpacing);
    transform: translateY(-50%);
}

.label {}

.input:hover {
    cursor: pointer;
}

.list {
    -st-extends: SelectionList;
    width: 100%;
    /*
        Styling list is here (not at the theme)
        because it is rendered in <Portal/>
        which isn't able to get theme yet.
    */
    background-color: white;
}
