@value vars: "../../style/default-theme/variables.css";
@value color_Default, color_MainTextBackground, color_MainText from vars;
@value arrowThickness: 0.1em;
@value headerHeight: 60px;
@value dropdownWidth: 330px;
@value dropdownArrowWidth: 11px;
@value dropdownArrowHeight: 12px;
@value inputWidth: 192px;

.input {
    width: inputWidth;
}

.dropdownArrowWrapper {
    width: inputWidth;
}

.dropdownArrow {
    width: 0;
    height: 0;
    position: relative;
    /* Center arrow */
    left: calc(50% - dropdownArrowWidth);
    border-left: dropdownArrowWidth solid transparent;
    border-right: dropdownArrowWidth solid transparent;
    border-bottom: dropdownArrowHeight solid color_Default;
}

.dropdown {
    width: dropdownWidth;
    border: solid 1px color_Default;
}

.header {
    width: 100%;
    height: headerHeight;
    background-color: color_Default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.headerDate {
    display: inline;
    width: 150px;
    height: 24px;
    font-family: ArialMT;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: color_MainTextBackground;
}

.arrowWrapper {
    height: 100%;
    width: 20%;
    line-height: 58px;
    cursor: pointer;
}

.arrowWrapperPrev {
    text-align: left;
}

.arrowWrapperNext {
    text-align: right;
}

.headerArrow {
    border: solid color_MainTextBackground;
    border-width: 0 arrowThickness arrowThickness 0;
    display: inline-block;
    padding: 0.26em;
}

.headerArrowNext {
    transform: rotate(-45deg);
    margin-right: 24px;
}

.headerArrowPrev {
    transform: rotate(135deg);
    margin-left: 24px;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    /*align-content: space-between;*/
    height: calc(100% - headerHeight);
    width: dropdownWidth;
    padding: 30px;
}

.calendarItem {
    flex: 0 0 14.2857%;
}

.dayName {
    font-family: ArialMT;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    text-align: center;
    color: color_MainText;
    width: 36px;
    height: 36px;
    cursor: default;
}

.day {
    font-family: ArialMT;
    font-size: 14px;
    text-align: center;
    color: color_MainText;
    width: 36px;
    line-height: 36px;
    cursor: pointer;
}

.day:hover {
    background-color: color_Default;
    color: color_MainTextBackground;
}

.greyDay {
    font-family: ArialMT;
    font-size: 14px;
    text-align: center;
    color: #d8d8d8;
    width: 36px;
    line-height: 36px;
    cursor: default;
}
