@namespace "DatePicker";

:import {
    -st-from: "../../style/default-theme/variables.st.css";
    -st-named: color_Default, color_MainText_Background, color_MainText, color_Active, color_Hover, color_Keyboard_Focused, fontFamily;
}

:vars {
    arrowThickness: 0.09em;
    headerHeight: 60px;
    dropdownWidth: 330px;
    dropdownArrowWidth: 11px;
    dropdownArrowHeight: 12px;
    inputWidth: 192px;
}

/* The DatePicker Input */
.input {
    width: value(inputWidth);
    display: block;
}

.icon {
    position: relative;
    left: -value(inputWidth);
}

/* The dropdown arrow extends from the input and into the calendar view */
.dropdownArrowWrapper {
    /* Switch width to the calendar width to center with regards to the calendar */
    width: value(inputWidth);
}

.dropdownArrow {
    width: 0;
    height: 0;
    position: relative;
    /* Center arrow with regards to the input */
    left: calc(50% - value(dropdownArrowWidth));
    border-left: value(dropdownArrowWidth) solid transparent;
    border-right: value(dropdownArrowWidth) solid transparent;
    border-bottom: value(dropdownArrowHeight) solid value(color_Default);
}

/* The dropdown contains everything but the input */
.dropdown {
    width: value(dropdownWidth);
    outline: solid 1px value(color_Default);
}

/* This contains the current month and year as well as the buttons to step between months */
.header {
    width: 100%;
    height: value(headerHeight);
    background-color: value(color_Default);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

/* Contains current month and year */
.headerDate {
    display: inline;
    width: 150px;
    height: 24px;
    font-family: value(fontFamily);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: value(color_MainText_Background);
}

/* General styling for the month buttons */
.arrowWrapper {
    height: 100%;
    width: 20%;
    line-height: 58px;
    cursor: pointer;
}

.arrowWrapperPrev {
    text-align: left;
}

.arrowWrapperNext {
    text-align: right;
}

/* General styles for both the prev and next month buttons */
.headerArrow {
    border: solid value(color_MainText_Background);
    border-width: 0 value(arrowThickness) value(arrowThickness) 0;
    display: inline-block;
    padding: 0.26em;
}

/* Next month button */
.headerArrowNext {
    transform: rotate(-45deg);
    margin-right: 24px;
}

/* Previous month button */
.headerArrowPrev {
    transform: rotate(135deg);
    margin-left: 24px;
}

/* The calendar view contains the days of the month and days of the week */
.calendar {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - value(headerHeight));
    width: value(dropdownWidth);
    padding: 30px;
    background-color: white;
}

/* Each item in the grid gets this style */
.calendarItem {
    /* 100/7 = 14.2857... show 7 items per row */
    flex: 0 0 14.2857%;
}

/* Styling for the days of the week */
.dayName {
    font-family: value(fontFamily);
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    text-align: center;
    color: value(color_MainText);
    width: 36px;
    height: 36px;
    cursor: default;
}

/* Styling for the days of the month */
.day {
    -st-states: focused, selected, current, inactive;
    font-family: value(fontFamily);
    font-size: 14px;
    text-align: center;
    color: value(color_MainText);
    width: 36px;
    line-height: 36px;
    cursor: pointer;
}

/* The current day, i.e. today's date */
.day:current {
    color: value(color_Default);
}

/* The styles for keyboard navigation */
.day:focused {
    outline: solid 1px value(color_Hover);
    outline-offset: -1px;
}

/* Styles for the user entered date */
.day:selected {
    color: value(color_MainText_Background);
    background-color: value(color_Active);
}

/* Styles for the days of the previous and next month */
.day:inactive {
    color: #d8d8d8;
    width: 36px;
    line-height: 36px;
    cursor: default;
}

/* Special case for when a user selected a date and then navigates to it using the keyboard */
.day:focused:selected {
    color: value(color_MainText_Background);
    background-color: value(color_Hover);
}

/* Hover styles for normal days */
.day:hover {
    color: value(color_MainText);
    background-color: value(color_Keyboard_Focused);
}

/* Hover styles for the days of the previous and next months */
.day:inactive:hover {
    color: #d8d8d8;
    background-color: value(color_MainText_Background);
}

/* root */
.root {
    display: inline-block;
}
