@namespace "Tooltip";
:import {
    -st-from: "../../project.st.css";
    -st-named:
        fontFamily,
        fontSize,
        color_MainText_Background,
        BK1;
}
:vars {
    tooltipOffset: 5px;
    tooltipColor: value(BK1);
    diagonalTailOffset: 10px;
}

.innerPortal {
    -st-states: open, onTop, unplaced;
    position: absolute;
    display: none;
    z-index: 9;
}

.innerPortal:open {
    display: block;
}
.innerPortal:onTop {
    z-index: 10;
}
.innerPortal:unplaced {
    opacity: 0;
    display: block;
}

.tooltip  {
    text-align: center;
    background: value(tooltipColor);
    padding: 12px 25px;
    color: value(color_MainText_Background);
    font: value(fontSize) value(fontFamily);
    z-index: 1;
}

.tail {
    position: absolute;
}

/* TOP */
.innerPortal.top {
    margin-top: -value(tooltipOffset);
}
.innerPortal.top .tail {
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* BOTTOM */
.innerPortal.bottom {
    margin-top: value(tooltipOffset);
}
.innerPortal.bottom .tail {
    bottom: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
}

/* LEFT */
.innerPortal.left {
    margin-left: -value(tooltipOffset);
}
.innerPortal.left .tail {
    left: 100%;
    top: 50%;
    -webkit-transform: translateY(100%) rotate(-90deg);
    -webkit-transform-origin: 0 0;
    transform: translateY(100%) rotate(-90deg);
    transform-origin: 0 0;
}

/* RIGHT */
.innerPortal.right {
    margin-left: value(tooltipOffset);
}
.innerPortal.right .tail {
    right: 100%;
    top: 50%;
    -webkit-transform: translateY(100%) rotate(90deg);
    -webkit-transform-origin: 100% 0;
    transform: translateY(100%) rotate(90deg);
    transform-origin: 100% 0;
}

/* TOP-LEFT */
.innerPortal.topLeft {
    margin-top: -value(tooltipOffset);
}
.innerPortal.topLeft .tail {
    top: 100%;
    left: value(diagonalTailOffset);
}

/* TOP-RIGHT */
.innerPortal.topRight {
    margin-top: -value(tooltipOffset);
}
.innerPortal.topRight .tail {
    top: 100%;
    right: value(diagonalTailOffset);
}

/* BOTTOM-LEFT */
.innerPortal.bottomLeft {
    margin-top: value(tooltipOffset);
}
.innerPortal.bottomLeft .tail {
    bottom: 100%;
    left: value(diagonalTailOffset);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* BOTTOM-RIGHT */
.innerPortal.bottomRight {
    margin-top: value(tooltipOffset);
}
.innerPortal.bottomRight .tail {
    bottom: 100%;
    right: value(diagonalTailOffset);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* LEFT-TOP */
.innerPortal.leftTop {
    margin-left: -value(tooltipOffset);
}
.innerPortal.leftTop .tail {
    top: value(diagonalTailOffset);
    left: 100%;
    -webkit-transform: rotate(-90deg) translateX(-100%);
    -webkit-transform-origin: 0 0;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: 0 0;
}

/* LEFT-BOTTOM */
.innerPortal.leftBottom {
    margin-left: -value(tooltipOffset);
}
.innerPortal.leftBottom .tail {
    bottom: value(diagonalTailOffset);
    left: 100%;
    -webkit-transform: translateY(100%) rotate(-90deg);
    -webkit-transform-origin: 0 0;
    transform: translateY(100%) rotate(-90deg);
    transform-origin: 0 0;
}

/* RIGHT-TOP */
.innerPortal.rightTop {
    margin-left: value(tooltipOffset);
}
.innerPortal.rightTop .tail {
    top: value(diagonalTailOffset);
    right: 100%;
    -webkit-transform: rotate(90deg) translateX(100%);
    -webkit-transform-origin: 100% 0;
    transform: rotate(90deg) translateX(100%);
    transform-origin: 100% 0;
}

/* RIGHT-BOTTOM */
.innerPortal.rightBottom {
    margin-left: value(tooltipOffset);
}
.innerPortal.rightBottom .tail {
    right: 100%;
    bottom: value(diagonalTailOffset);
    -webkit-transform: translateY(100%) rotate(90deg);
    -webkit-transform-origin: 100% 0;
    transform: translateY(100%) rotate(90deg);
    transform-origin: 100% 0;
}
