@namespace "Tooltip";
:import {
    -st-from: "../../project.st.css";
    -st-named:
        fontFamily,
        fontSize,
        color_MainText_Background,
        BK1;
}
:vars {
    tooltipOffset: 5px;
    tooltipColor: value(BK1);
}

.root {
    -st-states: open;
    position: absolute;
    display: none;
    z-index: 9;
}

.root:open {
    display: block;
}

.tooltip  {
    text-align: center;
    background: value(tooltipColor);
    padding: 12px 25px;
    color: value(color_MainText_Background);
    font: value(fontSize) value(fontFamily);
    z-index: 1;
    max-width: 300px;
}

.tail {
    position: absolute;
}

/* TOP */
.root.top {
    transform: translate(-50%, -100%);
    margin-top: -value(tooltipOffset);
}
.root.top .tail {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* BOTTOM */
.root.bottom {
    transform: translate(-50%, 0);
    margin-top: value(tooltipOffset);
}
.root.bottom .tail {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

/* LEFT */
.root.left {
    transform: translate(-100%, -50%);
    margin-left: -value(tooltipOffset);
}
.root.left .tail {
    left: 100%;
    top: 50%;
    transform: translateY(100%) rotate(-90deg);
    transform-origin: 0 0;
}

/* RIGHT */
.root.right {
    transform: translate(0, -50%);
    margin-left: value(tooltipOffset);
}
.root.right .tail {
    right: 100%;
    top: 50%;
    transform: translateY(100%) rotate(90deg);
    transform-origin: 100% 0;
}
