:import {
    -st-from: "../../style/default-theme/variables.st.css";
    -st-named:
        WT1,
        BK1,
        BK3,
        PR2,
        PR3,
        DS1,
        DS2,
        ER1;
}
:vars {
    width: 46px;
    switchSize: 20px;
}
.root {
    -st-states: checked, disabled, focus, errored, rtl;
    position: relative;
    width: value(width);
    border: 1px solid value(BK3);
    padding: 1px;
    border-radius: 100px;
    background-color: value(WT1);
    cursor: pointer;
    user-select: none;
    transition: background-color 200ms linear,
}
.input {
    display: block;
    opacity: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 0;
    height: 0;
}

.switch {
    height: value(switchSize);
    width: value(switchSize);
    background-color: value(BK3);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 100ms linear;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjIiIHZpZXdCb3g9IjAgMCA4IDIiPiAgICA8cGF0aCBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik0xIDJoNmExIDEgMCAwIDAgMC0ySDFhMSAxIDAgMCAwIDAgMnoiLz48L3N2Zz4=);
}

.root:checked::switch {
    transform: translateX(calc(value(width) - 4px - 100%))
    background-color: value(PR2);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjYiIHZpZXdCb3g9IjAgMCA4IDYiPiAgICA8cGF0aCBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik0xLjY5NiAyLjQ2NEExIDEgMCAxIDAgLjMwNCAzLjlsMS44NzUgMS44MThhMSAxIDAgMCAwIDEuMzkyIDBsNC4xMjUtNEExIDEgMCAxIDAgNi4zMDQuMjgyTDIuODc1IDMuNjA3IDEuNjk2IDIuNDY0eiIvPjwvc3ZnPg==);
}

.root:not(:disabled):hover {
    border-color: value(PR3);
}
.root:not(:disabled):focus:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    outline: 2px solid value(PR3);
}

.root:errored::switch {
    background-color: value(ER1);
}

.root:disabled {
    background-color: value(DS2);
    border-color: value(DS1);
    cursor: default;
}
.root:disabled::switch {
    background-color: value(DS1);
}

.root:rtl::switch {
    transform: translateX(calc(value(width) - 4px - 100%));
}
.root:rtl:checked::switch {
    transform: translateX(0);
}
