@namespace "SelectionList";

.list {
    width: 276px;
    border: 1px solid #adbbc6;
    outline: none;
}

.list[data-focused] {
    border-color: #4a90e2;
}

.divider {
    height: 1px;
    background-color: #adbbc6;
}

.item {
    width: 100%;
    min-height: 36px;
    padding: 6px 24px;
    font-family: ArialMT;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    cursor: pointer;
    user-select: none;
}

.item:hover {
    background-color: #edf7ff;
}

.item[data-selected] {
    background-color: #f1f1f1;
}

.item[data-disabled] {
    color: #c8c8c8;
    cursor: default;
}

.item[data-disabled]:hover {
    background: #ffffff;
}

.list[data-focused] > .item[data-selected] {
    background-color: #4990e2;
    color: #fff;
}

.list[data-focused] > .item[data-focused] {
    background-color: #edf7ff;
}

.list[data-focused] > .item[data-selected]:hover,
.list[data-focused] > .item[data-selected][data-focused] {
    background-color: #5cb4ff;
    color: #ffffff;
}
