@namespace "SelectionList";

.list {
    -st-states: focused;
    width: 276px;
    border: 1px solid #adbbc6;
    outline: none;
}

.divider {
    height: 1px;
    background-color: #adbbc6;
}

.list-item {
    -st-states: disabled, focused, selected;
    width: 100%;
    height: 36px;
    padding: 6px 24px;
    font-family: ArialMT;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    cursor: pointer;
    user-select: none;
}

.list-item:hover {
    background-color: #edf7ff;
}

.list-item:selected {
    background-color: #f1f1f1;
}

.list-item:disabled {
    color: #c8c8c8;
    cursor: default;
}

.list-item:disabled:hover {
    background: #ffffff;
}

.list:focused {
    border-color: #4a90e2;
}

.list:focused .list-item:selected {
    background-color: #4990e2;
    color: #fff;
}

.list:focused .list-item:focused {
    background-color: #edf7ff;
}

.list:focused .list-item:selected:hover,
.list:focused .list-item:selected:focused {
    background-color: #5cb4ff;
    color: #ffffff;
}
