.root {
    -st-states: loaded, loading, error;
    display: inline-block;
}

.root:loaded {}
.root:loading {}
.root:error {}

.hiddenImage {
    display: block;
    max-width: 100%;
    height: 100%;
    visibility: hidden;
}

.imageWrapper {
    -st-extends: root;
    background-position: center;
    background-repeat: no-repeat;
}

