@namespace "AutoComplete";

.root {
    position: relative;
    display: inline-block;
}

.input {
    width: 100%;
}

.list {
    width: 100%;
    /*
        Styling list is here (not at the theme)
        because it is rendered in <Portal/>
        which isn't able to get theme yet.
    */
    border-top: 0;
    background: #ffffff;
}

.caret {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform:translateY(-50%);
}
