.root {
    width: auto;
    font-size: 16px;
    position: relative;
    display: inline-block;
}

.acc {
    background-color: red;

}
.auto-complete-input {
    border: 1px solid #adbac5;
    font-family: ArialMT;
    font-size: 16px;
    height: 36px;
    width: 100%;
    padding-left: 5px;
}

.auto-complete-list {
    width: 100%;
    background: #FFFFFF;
}

.auto-complete-input:hover {
    border: 1px solid #5cb4ff;
}

.caret {
    cursor: pointer;
    position:absolute;
    top:50%;
    left: 90%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
}
