:import {
  -sb-from: "../../style/default-theme/variables.st.css";
  -sb-named:
    color_Border,
    color_Slider_Track,
    color_Slider_Track_Hover,
    color_Slider_Handle,
    color_Slider_HandleBorder,
    color_Slider_Handle_Hover,
    color_Slider_Handle_Active;
}

:vars {
  trackHeight: 4px;
  thumbMargin: -6px;
  thumbWidth: 16px;
  thumbHeight: 16px;
  thumbRadius: 8px;
  thumbBorder: 1px solid value(color_Slider_HandleBorder);
  thumbBorderHover: 1px solid value(color_Slider_Handle_Active);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0;
  cursor: pointer;
}

.slider,
.slider:focus,
.slider:hover
{
  border: none;
}
.slider:focus {
  outline: none;
}
.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: value(trackHeight);
  background: value(color_Slider_Track);
  border-radius: calc(value(trackHeight)/2);
}
.slider::-webkit-slider-thumb {
  border: value(thumbBorder);
  height: value(thumbHeight);
  width: value(thumbWidth);
  border-radius: value(thumbRadius);
  background: value(color_Slider_Handle);
  -webkit-appearance: none;
  margin-top: value(thumbMargin);
}
.slider::-moz-range-track {
  width: 100%;
  height: value(trackHeight);
  background: value(color_Slider_Track);
  border-radius: calc(value(trackHeight)/2);
}

.slider::-moz-range-thumb {
  border: value(thumbBorder);
  height: value(thumbHeight);
  width: value(thumbWidth);
  border-radius: value(thumbRadius);
  background: value(color_Slider_Handle);
}
.slider::-ms-track {
  width: 100%;
  height: value(trackHeight);
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.slider::-ms-fill-lower {
  background: value(color_Slider_Track);
  border-radius: 6px;
}
.slider::-ms-fill-upper {
  background: value(color_Slider_Track);
  border-radius: 6px;
}
.slider::-ms-thumb {
  border: value(thumbBorder);
  height: value(thumbHeight);
  width: value(thumbWidth);
  border-radius: value(thumbRadius);
  background: value(color_Slider_Handle);
  height: value(trackHeight);
}

/* Track on focus */
.slider:focus::-ms-fill-lower{
  background: value(color_Slider_Track_Hover);
}
.slider:focus::-ms-fill-upper{
  background: value(color_Slider_Track_Hover);
}
.slider:focus::-webkit-slider-runnable-track{
  background: value(color_Slider_Track_Hover);
}
.slider:focus::-moz-range-track{
  background: value(color_Slider_Track_Hover);
}

/* Track on hover */
.slider:hover::-ms-fill-lower{
  background: value(color_Slider_Track_Hover);
}
.slider:hover::-ms-fill-upper{
  background: value(color_Slider_Track_Hover);
}
.slider:hover::-webkit-slider-runnable-track{
  background: value(color_Slider_Track_Hover);
}
.slider:hover::-moz-range-track{
  background: value(color_Slider_Track_Hover);
}

/* Thumb on focus */
.slider:focus::-ms-thumb {
  border: value(thumbBorderHover);
  background-color: value(color_Slider_Handle_Hover)
}
.slider:focus::-webkit-slider-thumb {
  border: value(thumbBorderHover);
  background-color: value(color_Slider_Handle_Hover)
}
.slider:focus::-moz-range-thumb {
  border: value(thumbBorderHover);
  background-color: value(color_Slider_Handle_Hover)
}

/* Thumb on hover */
.slider:hover::-ms-thumb {
  border: value(thumbBorderHover);
  background-color: value(color_Slider_Handle_Hover)
}
.slider:hover::-webkit-slider-thumb {
  border: value(thumbBorderHover);
  background-color: value(color_Slider_Handle_Hover)
}
.slider:hover::-moz-range-thumb {
  border: value(thumbBorderHover);
  background-color: value(color_Slider_Handle_Hover)
}

/* Thumb on active */
.slider:active::-ms-thumb {
  border: value(thumbBorderHover);
  background-color: value(color_Slider_Handle_Active)
}
.slider:active::-webkit-slider-thumb {
  border: value(thumbBorderHover);
  background-color: value(color_Slider_Handle_Active)
}
.slider:active::-moz-range-thumb {
  border: value(thumbBorderHover);
  background-color: value(color_Slider_Handle_Active)
}
