@namespace "Slider";

:vars {
    trackSize: 4px;
}

.nativeInput {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
}

.root {
    -st-states: active, disabled, error, x, xReverse, y, yReverse;

    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    pointer-events: inherit;
    touch-action: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}

.root:disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.root:x,
.root:xReverse {
    width: 100%;
}
.root:y,
.root:yReverse {
    height: 100%;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.root:x .bar,
.root:xReverse .bar {
    height: value(trackSize);
    width: 100%;
}

.root:y .bar,
.root:yReverse .bar {
    text-align: left;
    width: value(trackSize);
    height: 100%;
}

.rangeBar {
    position: absolute;
}

.root:x .rangeBar,
.root:xReverse .rangeBar {
    height: inherit;
}

.root:x .rangeBar {
    left: 0;
}

.root:xReverse .rangeBar {
    right: 0;
}

.root:y .rangeBar,
.root:yReverse .rangeBar {
    bottom: 0;
    width: inherit;
}

.handle {
    -st-states: active;
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
}

.handle:active {
    z-index: 2;
}

.handle:active .tooltip {
    display: block;
}

.handle:hover .tooltip {
    display: block;
}

.mark {}

.rangeMark {}

.rangeMark,
.mark {
    position: absolute;
}