@namespace "wixTheme";

:import {
    -st-from: "./typography.st.css";
    -st-theme: true;
}

:import {
    -st-from: "./variables.st.css";
    -st-named: D70;
}

:import {
    -st-from: "./components/number-input.st.css";
    -st-theme: true;
}

:import {
    -st-theme: true;
    -st-from: "./components/stepper.st.css";
}

:import {
    -st-theme: true;
    -st-from: "./components/input.st.css";
}

:import {
    -st-theme: true;
    -st-from: "./components/auto-complete.st.css";
}

:import {
    -st-theme: true;
    -st-from: "./components/drop-down.st.css";
}

:import {
    -st-theme: true;
    -st-from: "./components/time-picker.st.css";
}

:import {
    -st-theme: true;
    -st-from: "./components/slider.st.css";
}

:import {
    -st-theme: true;
    -st-from: "./components/toggle.st.css";
    -st-named: smallToggle;
}

:import {
    -st-theme: true;
    -st-from: "./components/button.st.css";
    -st-named:
        btnLarge, btnSmall, btnTiny, btnSecondary,
        btnWhite, btnWhiteSecondary,
        btnError, btnErrorSecondary,
        btnPremium, btnPremiumSecondary,
        btnTransparent;
}

:import {
    -st-theme: true;
    -st-from: "./components/checkbox.st.css";
}

:import {
    -st-theme: true;
    -st-from: "./components/radio-group.st.css";
}

:import {
    -st-theme: true;
    -st-from: "./components/radio-button.st.css";
}

:import {
    -st-theme: true;
    -st-from: "./components/selection-list.st.css";
}

:import {
    -st-theme: true;
    -st-from: "./components/tree-view.st.css";
}

:import {
    -st-theme: true;
    -st-from: "./components/modal.st.css";
}

:import {
    -st-theme: true;
    -st-from: "./components/tooltip.st.css";
    -st-named:
        tooltipWhite, tooltipSmall, tooltipLeft;
}
