
:vars {
	/* Primary Colors */
	B00: #2b81cb;
	B05: #308ddd;
	B10: #3899ec;
	B20: #4eb7f5;
	B25: #A1D7FB;
	B27: #b3e0fb;
	B30: #c1e4fe;
	B40: #daeffe;
	B50: #eaf7ff;
	B60: #f4fafe;
	D10: #162d3d;
	D20: #32536A;
	D30: #577083;
	D40: #7a92a5;
	D50: #b6c1cd;
	D55: #cbd3dc;
	D60: #dfe5eb;
	D70: #f0f4f7;
	D80: #ffffff;
	R00: #d6453d;
	R05: '#d8504c';
	R10: '#ee5951';
	R20: '#ff6666';
	R30: '#ffd7d7';
	/* Disabled */
	primary-color: value(B30);
}