:vars {
	/* From Wix Styleguide */
	B00: #2b81cb;
	B05: #308ddd;
	B10: #3899ec;
	B20: #4eb7f5;
	B25: #A1D7FB;
	B27: #b3e0fb;
	B30: #c1e4fe; /* main border color */
	B40: #daeffe;
	B50: #eaf7ff;
	B60: #f4fafe;
	D10: #162d3d;
	D20: #32536A;
	D30: #577083;
	D40: #7a92a5; /* placeholder color */
	D50: #b6c1cd;
	D55: #cbd3dc;
	D60: #dfe5eb;
	D70: #f0f4f7;
	D80: #ffffff;
	R00: #d6453d;
	R05: #d8504c;
	R10: #ee5951;
	R20: #ff6666;
	R30: #ffd7d7;

    /* Number Input Vars */
    fontStyle: 16px "HelveticaNeue-Regular", sans-serif;

    textColor: value(D10);
    textColorDisabled: value(D50);
    placeholderColor: value(D40);

    inputHeight: 36px;
    inputWidth: 192px;
    inputPadding: 6px 12px;

    inputBackgroundColor: #fff;
    inputBackgroundColorHover: value(B60);
    inputBackgroundColorDisabled: value(D80);

    borderStyle: 1px solid value(B30);
    borderRadius: 6px;
    borderColorHover: value(B30);
    borderColorFocus: value(B20);
    borderColorDisabled: value(D60);
    borderColorError: value(R00);

    /* Stepper Vars */
    /* uses the color B10 */
    iconChevronUpDefault:   url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTAgNiI+PHBhdGggZmlsbD0iIzM4OTlFQyIgZD0iTTguNjQ2IDUuNzA4TDkuMzU0IDUgNSAuNjQ3LjY0NiA1bC43MDguNzA4TDUgMi4wNiIvPjwvc3ZnPg==);
    iconChevronDownDefault: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTAgNiI+PHBhdGggZmlsbD0iIzM4OTlFQyIgZD0iTTEuMzU0LjY0NmwtLjcwOC43MDhMNSA1LjcwN2w0LjM1NC00LjM1My0uNzA4LS43MDhMNSA0LjI5MyIvPjwvc3ZnPg==);
    /* uses the color B20 */
    iconChevronUpHover:   url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTAgNiI+PHBhdGggZmlsbD0iIzRFQjdGNSIgZD0iTTguNjQ2IDUuNzA4TDkuMzU0IDUgNSAuNjQ3LjY0NiA1bC43MDguNzA4TDUgMi4wNiIvPjwvc3ZnPg==);
    iconChevronDownHover: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTAgNiI+PHBhdGggZmlsbD0iIzRFQjdGNSIgZD0iTTEuMzU0LjY0NmwtLjcwOC43MDhMNSA1LjcwN2w0LjM1NC00LjM1My0uNzA4LS43MDhMNSA0LjI5MyIvPjwvc3ZnPg==);
    /* uses the color D50 */
    iconChevronUpDisabled:   url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTAgNiI+PHBhdGggZmlsbD0iI2I2YzFjZCIgZD0iTTguNjQ2IDUuNzA4TDkuMzU0IDUgNSAuNjQ3LjY0NiA1bC43MDguNzA4TDUgMi4wNiIvPjwvc3ZnPg==);
    iconChevronDownDisabled: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTAgNiI+PHBhdGggZmlsbD0iI2I2YzFjZCIgZD0iTTEuMzU0LjY0NmwtLjcwOC43MDhMNSA1LjcwN2w0LjM1NC00LjM1My0uNzA4LS43MDhMNSA0LjI5MyIvPjwvc3ZnPg==);
}


/* Shared Styles / mixins */
.inputStyle {
	min-width: value(inputWidth);
	height: value(inputHeight);
	border: value(borderStyle);
	border-radius: value(borderRadius);
	background: value(inputBackgroundColor);
	font: value(fontStyle);
	color: value(textColor);
	padding: value(inputPadding);
}

.inputStyle:hover {
	background: value(inputBackgroundColorHover);
	border-color: value(borderColorHover);
}

.inputStyle:focus {
	border-color: value(borderColorFocus);
}

.inputStyle:disabled {
	background-color: value(inputBackgroundColorDisabled);
	border-color: value(borderColorDisabled);
	color: value(textColorDisabled);
}

.inputStyle:error {
	border-color: value(borderColorError);
}

.inputStyle::placeholder {
	font: value(fontStyle);
	color: value(placeholderColor);
}

.inputStyle:disabled::placeholder {
	color: value(textColorDisabled);
}